absl-py
accelerate
aiohttp
aiosignal
altair
aniso8601
annotated-types
ansi2html
anyio
apyori
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
async-timeout
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
blis
Bottleneck
branca
Brotli
bs4
cachetools
catalogue
category-encoders
certifi
cffi
charset-normalizer
click
click-plugins
cligj
cloudpathlib
cloudpickle
colorama
comm
confection
contourpy
cycler
cymem
dash
dask
datasets
debugpy
decorator
defusedxml
dill
en-core-web-sm
et-xmlfile
evaluate
exceptiongroup
executing
fastjsonschema
filelock
fiona
Flask
Flask-RESTful
folium
fonttools
frozenlist
fsspec
funcy
GDAL
gensim
geopandas
gitdb
GitPython
gmpy2
graphviz
greenlet
holidays
huggingface_hub
idna
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter-dash
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
langcodes
language_data
locket
lxml
mapclassify
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl-fft
mkl-random
mkl-service
mlxtend
mpmath
multidict
multiprocess
munkres
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nlp
nltk
notebook
notebook_shim
numexpr
numpy
openpyxl
overrides
packaging
pandas
pandocfilters
parso
partd
patsy
pickleshare
pillow
platformdirs
plotly
ply
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2
pure-eval
pyarrow
pyarrow-hotfix
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyLDAvis
pyogrio
pyparsing
pyproj
PyQt5
PyQt5-sip
PySocks
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
rake-nltk
referencing
regex
requests
retrying
rfc3339-validator
rfc3986-validator
rfpimp
rich
rouge-score
rpds-py
Rtree
safetensors
scikit-learn
scikit-surprise
scipy
seaborn
Send2Trash
shapely
shellingham
sip
six
sklearn-pandas
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
statsmodels
streamlit
sympy
tenacity
terminado
thinc
threadpoolctl
tinycss2
